.main-heading {
	
}

.btn-active {
	opacity: 1!important;
}

.list-filter-wrapper{
	margin: 2em 0 1.5em 0;
	padding-top: 0.875em;
	background-color: var(--clr-accent-700);
	border-radius: 5px;
}

.list-filter-wrapper > .row > * {
	text-align: center;
}

.assets-button-new {
	cursor: pointer;
	text-decoration: none;
	border: 1px solid var(--clr-accent-700);
	padding: 1em 2em;
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-button);
	line-height: 1;
	color: var(--clr-accent-700);
	box-shadow: 0 1.125em 1em -1em rgba(223, 223, 223, 0.76);
}

.search-bar {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	padding: 0.4rem;
	max-width: 255px;
	min-width: 255px;
	font-size: 12px;
	cursor: text;
}
.search-bar:focus-within {
	border: 1px solid #656565;
	box-shadow: 0 0.5em 1em -1em rgba(160, 160, 160, 0.76);
  }
.search-bar > input {
	width: 100%;
	outline: none;
	border: none;
	background: transparent;
}

