.component-title {
	font: var(--fs-700) var(--ff-secondary);
}
.component-description {
	font-size: var(--fs-400);
	opacity: 0.6;
}
.video-link {
	cursor: pointer;
}
.video-modal-screen {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 30px;
	visibility: hidden;
	opacity: 0;
}

.video-modal-screen.active {
	visibility: visible;
	opacity: 1;
}

.video-modal-content {
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(2, 2, 2, 0.3);
	overflow: hidden;
	transform: scale(0.5);
	transition: transform 0.5s ease;
}
.modal-video {
	max-width: 800px;
	width: 100%;
	height: auto;
}

.video-modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	color: rgba(0, 0, 0, .5);
	font-size: 2.3em;
	margin: 20px 30px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.video-modal-close-btn:hover {
	color: #222;
}