.filter-item {
	border: 1px solid #444;
	padding: 1em;
}
.filter-wrapper {
	padding:  0.5rem;

}

.filter-label {
	margin: 0  0 0.125rem 0;
}

@media (min-width: 50rem) {
	.filter-select {
		background-color: white;
		border: 1px solid #e8e8e8;
		border-radius: 6px;
		padding: 0.5rem;
		max-width: 255px;
		min-width: 255px;
		font-size: 12px;
	}
	option {
		white-space: normal;
	}	
}

