.component-title {
	font: var(--fs-700) var(--ff-secondary);
}
.component-description {
	font-size: var(--fs-400);
	opacity: 0.6;
}
.video-link {
	cursor: pointer;
}
/* .video-modal-screen {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 30px;
}
.video-modal-content {
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(2, 2, 2, 0.3);
	overflow: hidden;
}
.modal-video {
	max-width: 800px;
	width: 100%;
	height: auto;
} */

/* 
.video-modal {
	transition: 0.3s ease;
	transition-property: visibility, opacity;
} 
*/