
.asset {
	padding: 1em 0;
	vertical-align: top;
	border-bottom: 1px dotted #ddd;
	box-sizing: border-box;
	list-style: none;
}
.asset-thumb-image {
	position: relative;
	display: block;
	color: transparent;
	width: 100%;
	overflow: hidden;
}

.asset-thumb-image > img {
	object-fit: contain;
	height: 100%;
	border: 2px solid lime
}

.asset-attributes {
	display: flex;
	flex-direction: column;
	padding: .3em .5em;
	border-radius: 4px;
	background: #f4f4f4;
}