.message-link {
	text-decoration: none;
	color: var(--clr-accent-700);
}
.message-item-wrapper {
	background-color: #fff;
	padding: var(--size-400);
	margin-bottom: var(--size-400);
	border-radius: 6px;
	box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}

.message-read {
	font-weight: var(--fw-semi-bold);
}

.message-item-wrapper > h3 {
	font-size: var(--fs-400);
	padding-bottom: var(--size-300)
}

.message-item-wrapper > p {
	font-size: var(--fs-300);
	opacity: .6;
	padding: 0 0 0 1.6rem;
	margin-top: .3rem;
}

.icon-unread {
	margin: 0 8px 0 12px;
	color: var(--clr-accent-300);
}

.icon-read {
	margin: 0 8px 0 12px;
}
