.btn-active {
	opacity: 1!important;
}
.assets-toggle {
	color: var(--clr-accent-700)!important;
	text-decoration: none;
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-button);
	line-height: 1;
	opacity: 0.6;
}


.list-filter-wrapper{
	margin: 2em 0 1.5em 0;
	padding-top: 0.875em;
	background-color: var(--clr-accent-700);
	border-radius: 5px;
}

.list-filter-wrapper > .row > * {
	text-align: center;
}

.assets-button-new {
	cursor: pointer;
	text-decoration: none;
	border: 1px solid var(--clr-accent-700);
	padding: 1em 2em;
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-button);
	line-height: 1;
	color: var(--clr-accent-700);
	box-shadow: 0 1.125em 1em -1em rgba(223, 223, 223, 0.76);
}

