.form-wrapper {
	color: #fff; 
	background-color: var(--clr-accent-700);
	padding: 1.2em;
	border-radius: 6px;
}

.form-button {
	width: 40%;
	display: flex;
	cursor: pointer;
	text-decoration: none;
	border-color: var(--clr-accent-301)!important;
	border-radius: 8px;
	padding: 1em 1.5em;
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-button);
	line-height: 1;
	color: var(--clr-primary-100);
	background-color: var(--clr-accent-301)!important;
	
}