.message-container {
	margin: 2em 0 1.5em 0;
	padding-top: 0.875em;
	background-color: var(--clr-neutral-100);
	border-radius: 5px;
	margin: 0.875em auto;
}

.message-container > h4 {
	font-family: var(--ff-secondary);
	font-size: var(--fs-700);
	font-weight: var(--fw-semi-bold);
	color: var(--clr-accent-700);
}