.playlists-wrapper {
	margin: 2em 0 1.5em 0;
}

.tab {
	float: left;
	padding: 0;
	border: 1px solid var(--clr-neutral-100);
	border-radius: 6px;
}

.playlists-btn {
	display: block;
	padding: 20px 16px;
	width: 100%;
	border-bottom: 2px solid var(--clr-neutral-100);
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}

.selected-btn {
	color: var(--clr-accent-800);
	font-weight: var(--fw-semi-bold);
	background-color: var(--clr-neutral-100);
}

.playlists-btn:hover {
	background-color: var(--clr-neutral-100);
}
 
.tab-content {
	float: left;
	width: 70%;
	padding: 0 2em;
	border-left: none;
	height: 300px;
}

