.playlists-wrapper {
	margin: 2em 0 1.5em 0;
}

.tab {
	float: left;
	background-color: #f1f1f1;
}

.playlists-btn {
	display: block;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}

.playlists-btn:hover {
	background-color: #ddd;
}
  
.playlists-btn.active {
	background-color: #ccc;
}
  
.tabcontent {
	float: left;
	padding: 0px 12px;
	width: 70%;
	border-left: none;
	height: 300px;
}

.button-delete {
	background-color: crimson!important;
}