.profile-container {
	padding-top: 0.875em;
	background-color: var(--clr-accent-200);
	border-radius: 5px;
	margin: 0.875em auto;
}

.user-name {
	font-size: var(--fs-700);
	color: var(--clr-accent-700);
	font-weight: var(--fw-semi-bold);
	gap: 1.5em;
}
.s{
	border: 1px solid red
}

.user-personal-info{
	display: flex;
	flex-direction: column;
	gap: 1em;
}