* {
	box-sizing: border-box;
  }
  
body {
	margin: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
  }
  
  
.centered {
	margin: 3rem auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
.focused {
	font-size: 3rem;
	font-weight: bold;
	color: white;
}
  
.btn {
	text-decoration: none;
	background-color: hsl(205, 16%, 27%);
	color: white;
	border-radius: 4px;
	padding: 0.75rem 1.5rem;
	border: 1px solid hsl(205, 16%, 27%);
	cursor: pointer;
}
  
.btn:hover,
.btn:active {
	background-color: hsl(205, 16%, 27%);
	border-color: hsl(205, 16%, 27%);
  }
  
/* .btn--flat {
	cursor: pointer;
	font: inherit;
	color: teal;
	border: none;
	background-color: none;
	text-decoration: none;
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
} */
  
/* .btn--flat:hover,
.btn--flat:active {
	background-color: teal;
	color: white;
  } */