/*---------------------*/
/*       NAVIGATION    */
/*---------------------*/
.primaryHeader {
	padding-top: var(--size-700);
}

.navContainer {
	--max-width: 1110px;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.navWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}

.mobileNavToggle {
	display: none;
	/* outline: 2px solid red; */
}

.navList {
	font-size: var(--fs-nav);
	font-weight: var(--fw-semi-bold);
	display: flex;
	gap: clamp(var(--size-500), 3.2vw, var(--size-800));
	list-style-type: none;
}


.primaryNavigation > ul > li > a {
	text-decoration: none;
	color: var(--clr-neutral-400);
}

.primaryNavigation > ul > li > a:hover, 
.primaryNavigation > ul > li > a:focus {
	color: var(--clr-accent-500)
}


/*---------------------*/
/*       MOBILE        */
/*---------------------*/
@media (max-width: 50rem) {
	.logo{
		width: 50%;
		height: 50%;
		min-width: 177px;
	}
	.navWrapper > a {
		max-width: 50%;
	}
	.navWrapper > button {
		border: 0;
		background: transparent;
		cursor: pointer;
	}
	.mobileNavToggle {
		display: grid;
	}
	.primaryNavigation {
		display: none;
		inset: 7rem var(--size-400) auto;
		padding: var(--size-400);
		margin: 0 auto;

	}
	.primaryNavigation > ul {
		display: grid;
		gap: var(--size-400);
		text-align: center;
	}
	.showMenu{
		display: block;
	}

}
