/*---------------------*/
/*       NAVIGATION    */
/*---------------------*/
.primaryHeader {
	padding-top: var(--size-700);
}

.navContainer {
	--max-width: 1110px;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.navWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobileNavToggle {
	display: none;
}

.navList {
	font-size: var(--fs-nav);
	font-weight: var(--fw-semi-bold);
	display: flex;
	gap: clamp(var(--size-500), 5vw, var(--size-800));
}

.primaryNavigation > ul > li > a {
	text-decoration: none;
	color: var(--clr-neutral-400);
}

.primaryNavigation > ul > li > a:hover, 
.primaryNavigation > ul > li > a:focus {
	color: var(--clr-accent-400)
}

/* .primaryHeader {
	height: 6.2rem;
	display: flex;
	padding: 0 10%;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(205, 46%, 48%);
}
  
.logo {
	font-size: 2rem;
	color: white;
}
  
.nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
  
.nav li {
	margin-left: 1.5rem;
	font-size: 1.25rem;
}
  
.nav a {
	text-decoration: none;
	color: hsla(0, 0%, 90%, 0.822);
}
  
.nav a:hover,
.nav a:active,
.nav a.active {
	color: hsl(0, 0%, 100%);
} */
  